# Node
node_modules/
npm-debug.log
yarn-error.log

# Capacitor
android/.gradle
android/build
android/app/build
android/local.properties
android/.idea

# iOS (if added later)
ios/Pods
ios/App/Podfile.lock
ios/App/build

# Web assets (generated)
www/

# OS
.DS_Store
Thumbs.db
